{{>header}}

<h1> Pagina CERRAR curso </h1>


<form action="/cerrarcurso" method="post">
				  <div class="form-group">
						<label for="nombrecurso">CURSO</label>
						<select name="nombrecurso" id="selec4">       
						<option value="{{curso.id}}">{{curso.nombre}}</option>
			         	</select>
				  </div>


				  <div class="form-group">
						<label for="nombredocente">PROFESOR A ASIGNAR</label>
						<select name="nombredocente" id="select3">       
			         {{#each listadocentes}}	
						<option value="{{this.id}}">{{this.nombre}}</option>
			         {{/each}}
			         	</select>
				  </div>


<button>Cerrar Curso</button>
</form>


<big><b> <div >{{mensajeError}}</div> </b></big>


{{>footer}}