{{>header}}


<h1> Detalle del Curso seleccionado </h1>



<table  class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Valor</th>
        <th>Modalidad</th>       
        <th>IntensidadHoraria</th>
        <th>Estado</th>
    </tr>
    <tr>
	    <td>{{curso.id}}</td>
	    <td>{{curso.nombre}}</td>
	    <td>{{curso.descripcion}}</td>
	    <td>{{curso.valor}}</td>
	    <td>{{curso.modalidad}}</td>
	    <td>{{curso.intensidad}}</td>	
	    <td>{{curso.estado}}</td>	        	    
	 </tr>




{{>footer}}
